<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title th:text="${tracklist.name} + ' | trackd'"></title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  
    <link href="../css/trackd.css" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">trackd</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tracklists">tracklists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tracklists/new">create</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../img/single.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1 th:text="${tracklist.name}"></h1>
              <h2 class="subheading" th:text="${tracklist.description}"></h2>
              <span class="meta">Created by
                <span th:text="${tracklist.author}"></span>
                on <span th:text="${tracklist.date}"></span></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-8 mx-auto">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Artist</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="t : ${tracklist.tracks}">
                <td th:text="${t.title}"></td>
                <td th:text="${t.artist}"></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <p>The list feeling a little short? Use the form below.</p>     
          <form action="#" th:action="@{/tracklists/{id}/tracks(id = ${tracklist.id})}" method="post">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" id="title" th:field="${track.title}">
                <p th:if="${#fields.hasErrors('track.title')}" th:errors="*{track.title}" class="help-block text-danger">Title Error</p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Artist</label>
                <input type="text" class="form-control" placeholder="Artist" id="artist" th:field="${track.artist}">
                <p th:if="${#fields.hasErrors('track.artist')}" th:errors="*{track.artist}" class="help-block text-danger">Artist Error</p>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; trackd 2020</p>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <script src="../js/trackd.js"></script>
    
  </body>
  
</html>